<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>Pokémon Réunion - {% block title %}{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        Début Page
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
        Fin page
    </body>
</html>
